# Dependencies
/node_modules
/.pnp
.pnp.*

# Testing & Coverage
/coverage

# Next.js Build Output
/.next/
/out/

# Production Build
/build

# Misc
.DS_Store
*.pem

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
